In [1]:
Day_list = [164, 176, 191, 205, 215, 233]
Day_dict = {164:list(range(1,16)),
            176:list(range(1,15)),
            191:list(range(1,16)),
            205:list(range(1,14)),
            215:list(range(1,14)),
            233:list(range(1,13)),
            254:list(range(1,14))}
CO2_list = [372,552]

In [2]:
import pandas as pd

Day = Day_list[0]
CO2 = CO2_list[0]
Hour = Day_dict[Day][0]

for Day in Day_list:
    for CO2 in CO2_list:
        for Hour in Day_dict[Day]:
            fin = "./../../ODE_FBA_Photosynthesis2021/Validations/OutputFluxT_FACE"+str(Day)+"_"+str(CO2)+"_"+str(Hour)+".csv"
            df = pd.read_csv(fin,header=None)
            valueList = list()
            keyList = list()

            for i in range(0,len(df)):
                keyList.append(df[0].str.split()[i][0])
                valueList.append(float(df[0].str.split()[i][1]))
            if Hour == 1:
                df2 = pd.DataFrame()
                df2["Reaction"]=keyList
                df2["Hour 1"]=valueList
            else:
                df2["Hour "+str(Hour)]=valueList
        df2.to_csv("./../../ODE_FBA_Photosynthesis2021/Validations/Combined_OutputFluxT_FACE"+str(Day)+"_"+str(CO2)+"16Jun21.csv")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\compat\_optional.py:106: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '0+unknown' currently installed).
  warnings.warn(msg, UserWarning)

In [49]:
import pandas as pd

Day = Day_list[0]
CO2 = CO2_list[0]
Hour = Day_dict[Day][0]

for Day in Day_list:
    for CO2 in CO2_list:
        #Day = 233
        #CO2 = 372
        for Hour in Day_dict[Day]:
            fin = "./../../ODE_FBA_Photosynthesis2021/Validations/Diel_flux_FACE"+str(Day)+"_"+str(CO2)+"_"+str(Hour)+".csv"
            df = pd.read_csv(fin,header=None)
            
            if Hour == 1:
                df2 = pd.DataFrame()
                df2["Reaction ID"]=df[0]
                df2["Reaction"]=df[1]
                df2["Hour 1"]=df[2]
            else:
                templist = list()
                for rxn in df2["Reaction ID"]:
                    templist.append(float(df[df[0]==rxn][2]))
                df2["Hour "+str(Hour)]=templist
        df2.to_csv("./../../ODE_FBA_Photosynthesis2021/Validations/Combined_Diel_flux_flux_FACE"+str(Day)+"_"+str(CO2)+"_4June21.csv")

In [52]:
df2[df2["Reaction ID"]=="STARCH_p_dielTransfer"]

,Reaction ID,Reaction,Hour 1,Hour 2,Hour 3,Hour 4,Hour 5,Hour 6,Hour 7,Hour 8,Hour 9,Hour 10,Hour 11,Hour 12
1799,STARCH_p_dielTransfer,STARCH_p1 <=> STARCH_p2,0.240145,0.326239,0.368436,0.384313,0.389676,0.357408,0.322311,0.357167,0.378068,0.314034,0.243253,0.188579

In [46]:
Day

233

In [47]:
CO2

552

In [48]:
Hour

12

In [26]:
df[0]

0               PRO_PROTON_vc1
1                       Ca_tx1
2                      H2O_xc1
3                sCIT_biomass1
4         ACETYLGLUTKIN_RXN_p1
                 ...
1806    NITRATE_v_dielTransfer
1807        SER_v_dielTransfer
1808        CIT_v_dielTransfer
1809        HIS_v_dielTransfer
1810        MAL_v_dielTransfer
Name: 0, Length: 1811, dtype: object

In [27]:
df[1]

0               PROTON_v1 + PRO_c1 --> PROTON_c1 + PRO_v1
1                                             <=> CAII_e1
2                                   WATER_x1 <=> WATER_c1
3                                      sCIT_b1 <-- CIT_c1
4       ACETYL_GLU_p1 + 0.9 ATP_p1 + 0.1 PROTON_p1 + 0...
                              ...
1806                            NITRATE_v1 <=> NITRATE_v2
1807                                    SER_v1 --> SER_v2
1808    0.5 CIT_v1 + 0.5 aCIT_v1 <=> 0.5 CIT_v2 + 0.5 ...
1809                                  bHIS_v1 --> bHIS_v2
1810    0.7 MAL_v1 + 0.3 aMAL_v1 <=> 0.7 MAL_v2 + 0.3 ...
Name: 1, Length: 1811, dtype: object